# 서울시 공공자전거 대여소 정보 분석

- 대여소 정보 읽기
- 대여소 정보 확인
- NA 값이 몇개인지 확인 ==> NA 값이 들어있는 데이터 삭제
- 타입 변환 (대여소ID ==> int32, 기준시작일자 ==> 날짜타입) 
>- 기준시작일에 '개통'이라는 단어를 포함하고 있는 경우 '개통' 단어 삭제
- 대여소_구의 목록, 개수 출력
- 대여소_구별 거치대 수
- 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

In [19]:
# 대여소 정보 읽기
import numpy as np
import pandas as pd

In [20]:
place = pd.read_excel("서울특별시 공공자전거 대여소 정보(19.12.9).xlsx",nrows = 1540)

## 대여소 정보 데이터 읽기

## NA 값이 몇 개인지 확인

- NA값이 들어있는 데이터 삭제

In [4]:
print(place.isna().sum()) #컬럼별 결측지의 갯수

대여소_구     0
대여소ID     0
대여소명      0
대여소주소     0
위도        0
경도        0
기준시작일자    0
거치대수      0
dtype: int64

In [ ]:
print(place[place['대여소ID'].isna()])

In [6]:
place.dropna(inplace=True)

## 타입 변환

- 대여소ID ==> int32
- 기준시작일자 ==> 날짜타입

In [9]:
print(place.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int32
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1540 non-null   int64
dtypes: float64(2), int32(1), int64(1), object(4)
memory usage: 90.4+ KB
None

In [20]:
print(place2.info())
display(place2.sample(10)) #sample()은 임의의 샘플을 선택하는 데 사용되고, head()는 데이터의 처음 몇 개의 행을 반환하는 데 사용됩니다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int32
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   datetime64[ns]
 7   거치대수    1540 non-null   int64
dtypes: datetime64[ns](1), float64(2), int32(1), int64(1), object(3)
memory usage: 90.4+ KB
None

,대여소_구,대여소ID,대여소명,대여소주소,위도,경도,기준시작일자,거치대수
895,중랑구,1421,1421. 신내역 4번출구,서울특별시 중랑구 신내로 지하 232,37.612461,127.103378,2017-04-26 15:07:19,20
83,서대문구,191,191. 서우빌딩(바른학원),서울특별시 서대문구 응암로 66,37.578892,126.910736,2016-07-06 12:00:00,10
24,마포구,125,125. 서강대 남문 옆,서울특별시 마포구 백범로 35,37.549484,126.938950,2015-09-07 10:34:07,15
339,성동구,525,525. 한양대병원사거리,서울특별시 성동구 행당동 20-2,37.558052,127.040352,2016-06-29 12:00:00,20
656,강동구,1057,능골근린공원,상일동 482,37.555790,127.173813,2018-09-10 00:00:00,15
710,강서구,1162,1162. 공항초등학교건너편,서울특별시 강서구 마곡서1로 68,37.562679,126.820473,2017-11-28 10:15:23,10
1532,종로구,462,신영동삼거리(북악터널방향),종로구 평창문화로 6-4,37.603512,126.962067,2019-06-20 00:00:00,15
1012,노원구,1666,1666. 노원소방서인근,서울특별시 노원구 노원로26길 111,37.655781,127.071777,2017-11-28 10:49:40,10
878,성북구,1375,생명의 전화 종합복지관 앞 교차로,하월곡동 96-1,37.603909,127.037376,2018-12-27 00:00:00,20
121,영등포구,232,232. 양평우림 이비즈센타 앞,서울특별시 영등포구 양평동3가 14-1,37.525650,126.887817,2016-06-29 12:00:00,20

In [8]:
place['대여소ID'] = place['대여소ID'].astype('int32')

In [10]:
place2=place.copy()

In [17]:
place2['기준시작일자'] = pd.to_datetime(place2['기준시작일자']) # 개통들어서

In [16]:
print(place2['기준시작일자'].str.contains('개통').sum()) # 개통 몇개임?

0

In [15]:
place2['기준시작일자'] = place2['기준시작일자'].replace('개통','',regex=True) #"regex=true"를 설정하면 해당 문자열이 정규 표현식으로 해석되어 처리

## 대여소_구의 목록, 개수 출력

In [21]:
print(place['대여소_구'].unique())
print(len(place['대여소_구'].unique()))

['마포구' '서대문구' '영등포구' '중구' '종로구' '광진구' '성동구' '동대문구' '양천구' '용산구' '은평구' '강동구'
 '강서구' '송파구' '성북구' '중랑구' '강북구' '노원구' '도봉구' '금천구' '구로구' '동작구' '관악구' '서초구'
 '강남구']
25

## 대여소_구별 거치대 수

In [24]:
grouped = place.groupby('대여소_구')
print(grouped['거치대수'].sum())
print(grouped['거치대수'].sum().sort_values(ascending=False)) # 순서도

대여소_구
강남구     1218
강동구      763
강북구      451
강서구     1002
관악구      640
광진구      841
구로구      788
금천구      560
노원구      879
도봉구      396
동대문구     659
동작구      501
마포구     1075
서대문구     667
서초구     1227
성동구      780
성북구      726
송파구     1298
양천구      677
영등포구    1250
용산구      538
은평구      716
종로구      784
중구       493
중랑구      616
Name: 거치대수, dtype: int64
대여소_구
송파구     1298
영등포구    1250
서초구     1227
강남구     1218
마포구     1075
강서구     1002
노원구      879
광진구      841
구로구      788
종로구      784
성동구      780
강동구      763
성북구      726
은평구      716
양천구      677
서대문구     667
동대문구     659
관악구      640
중랑구      616
금천구      560
용산구      538
동작구      501
중구       493
강북구      451
도봉구      396
Name: 거치대수, dtype: int64

## 구별 거치대수의 합계, 평균, 최대, 최소 출력하고 거치대가 많은 순으로 합계별 내림차순으로 10개 출력

In [27]:
result = place.groupby('대여소_구')['거치대수'].agg(['sum','mean','max','min']).sort_values('sum',ascending=False).head(10).round(2)
result #round(소수점이하 반올림), sum기준 정렬

        sum   mean  max  min
대여소_구
송파구    1298  13.11   30    7
영등포구   1250  14.04   40    6
서초구    1227  13.79   25    7
강남구    1218  12.30   30    5
마포구    1075  13.61   40    5
강서구    1002  11.79   25    6
노원구     879  12.93   20    7
광진구     841  14.25   40    5
구로구     788  12.31   30    5
종로구     784  11.53   21    5

# 서울시 공공자전거 대여 정보 분석
- 대여정보 읽기
- 대여정보 확인 (결측치 컬럼 등)
- 대여일시, 반납일시를 날짜타입으로 변경
- 일자별로 대여 건수 내림차순으로 정렬하여 출력
    - Series객체.dt.날짜property
- 요일별 대여 건수 확인

In [6]:
import numpy as np
import pandas as pd 

rent = pd.read_csv('서울특별시 공공자전거 대여정보_201911_2.csv', encoding='cp949')
print(rent.shape)

(678830, 11)

## 대여 정보 데이터 읽기

## 대여정보 확인

## 대여일시, 반납일시를 날짜타입으로 변경

In [8]:
rent['대여일시'] = pd.to_datetime(rent['대여일시'])
rent['반납일시'] = pd.to_datetime(rent['반납일시'])

In [9]:
display(rent.sample(10))

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
73413,SPB-20165,2019-11-03 17:21:00,1277,오금동 송파 참병원,2,2019-11-03 18:11:00,1277,오금동 송파 참병원,3,47,9040
42314,SPB-21267,2019-11-23 16:56:00,1222,잠실새내역 5번 출구 뒤,15,2019-11-23 17:48:00,1235,잠실트리지움310동 옆,4,49,2940
455186,SPB-08899,2019-11-06 22:52:00,2176,보라매공원 보도육교,2,2019-11-06 23:14:00,2172,나들목공원,1,20,2800
280169,SPB-15278,2019-11-16 13:04:00,1630,수연빌딩 앞,7,2019-11-16 13:19:00,1692,온곡초교 교차로,10,15,2190
228523,SPB-02767,2019-11-09 18:13:00,1650,중계근린공원내,14,2019-11-09 18:31:00,1625,상계역(4번출구),17,17,2980
356465,SPB-10947,2019-11-11 13:31:00,1952,천왕연지타운2단지 앞,7,2019-11-11 13:55:00,1952,천왕연지타운2단지 앞,15,24,2000
500235,SPB-20729,2019-11-26 18:29:00,2244,교육개발원입구 교차로,3,2019-11-26 19:00:00,2248,서초리슈빌S 글로벌 앞,9,30,3270
364034,SPB-22537,2019-11-03 15:30:00,2183,동방1교,2,2019-11-03 15:57:00,1961,신도림테크노근린공원,6,25,7970
544979,SPB-20155,2019-11-01 10:05:00,2381,언주역 6번출구앞,1,2019-11-01 12:03:00,2328,르네상스 호텔 사거리 역삼지하보도 7번출구 앞,10,111,1250
160937,SPB-02927,2019-11-05 18:15:00,1608,공릉역 1번 출구 앞,9,2019-11-05 18:35:00,1438,홈플러스 신내점 앞,5,19,2870

## 요일별 대여 건수 확인

In [10]:
rent['요일'] = rent['대여일시'].dt.dayofweek

In [11]:
dayofweek = {0:'월',1:'화',2:'수',3:'목',4:'금',5:'토',6:'일'}
rent['요일'] = rent['요일'].map(dayofweek)

In [12]:
result=rent.groupby('요일')['요일'].count().sort_values(ascending=False).apply(lambda x:f'{x:,}건')

## 일자별로 대여 건수 내림차순으로 정렬하여 출력

In [17]:
rent['day'] = rent['대여일시'].dt.day
result = rent.groupby('day')['day'].count().sort_values(ascending=False)

# 대여소 정보와 대여정보 Join
- 대여소 정보와 대여정보 join
- join 데이터 정보 확인
- 각 구별 이용시간과  이용거리에 대한 평균, 최대, 최소값 출력

In [22]:
rent_bicycle=pd.merge(place,rent,left_on='대여소ID',right_on='대여 대여소번호')

## 대여소 ID 기준으로 두 데이터 병합

In [23]:
print(place.info())
print(rent.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여소_구   1540 non-null   object
 1   대여소ID   1540 non-null   int64
 2   대여소명    1540 non-null   object
 3   대여소주소   1540 non-null   object
 4   위도      1540 non-null   float64
 5   경도      1540 non-null   float64
 6   기준시작일자  1540 non-null   object
 7   거치대수    1540 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 96.4+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678830 entries, 0 to 678829
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   자전거번호     678830 non-null  object
 1   대여일시      678830 non-null  datetime64[ns]
 2   대여 대여소번호  678830 non-null  int64
 3   대여 대여소명   678830 non-null  object
 4   대여거치대     678830 non-null  int64
 5   반납일시      678830 non-null  datetime64[ns]
 6   반납대여소번호   678830 non-null  int64
 7   반납대여소명    678830 non-null  object
 8   반납거치대     678830 non-null  int64
 9   이용시간      678830 non-null  int64
 10  이용거리      678830 non-null  int64
 11  요일        678830 non-null  object
 12  day       678830 non-null  int32
dtypes: datetime64[ns](2), int32(1), int64(6), object(4)
memory usage: 64.7+ MB
None

In [30]:
print(rent_bicycle.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 677505 entries, 0 to 677504
Data columns (total 20 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   대여소_구    677505 non-null  object
 1   대여소ID    677505 non-null  int64
 2   대여소명     677505 non-null  object
 3   대여소주소    677505 non-null  object
 4   위도       677505 non-null  float64
 5   경도       677505 non-null  float64
 6   기준시작일자   677505 non-null  object
 7   거치대수     677505 non-null  int64
 8   자전거번호    677505 non-null  object
 9   대여일시     677505 non-null  datetime64[ns]
 10  대여 대여소명  677505 non-null  object
 11  대여거치대    677505 non-null  int64
 12  반납일시     677505 non-null  datetime64[ns]
 13  반납대여소번호  677505 non-null  int64
 14  반납대여소명   677505 non-null  object
 15  반납거치대    677505 non-null  int64
 16  이용시간     677505 non-null  int64
 17  이용거리     677505 non-null  int64
 18  요일       677505 non-null  object
 19  day      677505 non-null  int32
dtypes: datetime64[ns](2), float64(2), int32(1), int64(7), object(8)
memory usage: 100.8+ MB
None

In [ ]:
rent_bicycle.drop(['대여 대여소번호'],inplace=True,axis=1)

## 구별 평균 이용시간, 평균 이용거리, 최대 이용시간, 최소 이용시간 확인 (구 이름 정렬)

In [35]:
result = rent_bicycle.groupby('대여소_구')[['이용시간','이용거리']].agg(['mean','max','min']).sort_values(('이용시간','mean'),ascending=False)
print(result)

            이용시간                   이용거리
            mean   max min         mean     max min
대여소_구
은평구    45.856749   218   2  8899.338843   81870   0
마포구    44.869336   249   2  8621.309039   80800   0
용산구    41.099339   777   5  6910.704033   97090   0
중구     37.877796  1066   2  6526.280761   81620   0
서대문구   31.755382   316   1  4803.547582  125410   0
영등포구   31.721189   556   1  5330.747505  116390   0
성동구    31.316633   919   1  4723.099450  126270   0
양천구    29.650766   236   1  5360.720915   81170   0
종로구    28.761135   306   1  4516.685792   79210   0
강동구    26.260650   237   1  4128.647530   71170   0
강남구    23.382298   740   1  3193.727233  100980   0
동작구    22.934526  1282   1  3150.196766  146850   0
동대문구   22.714575   518   1  3604.658298  129460   0
송파구    22.488512  1106   1  2802.381620  109570   0
서초구    22.452883   476   1  3059.817962  110390   0
광진구    21.522678  1000   1  2884.606619  172320   0
도봉구    20.758714   701   1  2883.359794   81020   0
관악구    20.469692   666   1  2929.804723  185110   0
노원구    20.382049  1719   1  2661.159418   79820   0
구로구    19.570479   969   1  2691.200561  155830   0
금천구    19.544569   370   1  2769.887676   95250   0
강북구    19.494643   772   1  2541.262305  111530   0
성북구    18.888129  1025   1  2516.085702  102500   0
중랑구    18.764389   636   1  2591.262076   98120   0
강서구    17.299746   383   1  3037.660029  129700   0